/* Setting width of entire page and grid layout */
.artists-page {
    @include grid-center;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 3%;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 1200px) {
        grid-template-columns: repeat(1, 1fr);
    }
}
.artists-page img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

    @media (max-width: 1200px) {
        width: 60%;
    }
}


/* Styling the artists lineup area */
#artists {
    @include flex-center;
    flex-direction: column;
    margin-top: 5%;

    @media (max-width: 1200px) {
        margin-top: 2rem;
    }
}


/* Styling the divs with the artists names */
#artist-names {
    @include smw-padding;
    @include smw-margin;
    @include bubble;
    text-align: center;
}
#artist-names p {
    margin-top: 0.3rem;
    line-height: 1.6;
}