/* Making the forms a grid box */
#register-form, #contact-form {
    @include grid-center;
    @include bubble;
    @include smw-padding;
    @include smt-margin;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto auto;
    text-align: right;
}

/* Styling the form child elements to be more visible */
#register-form button, #contact-form button {
    color: black;
    background-color: $third-color;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    margin: auto;
    margin-top: 0.5%;
}
#register-form select, #contact-form select, #register-form input, #contact-form input {
    color: black;
}
::placeholder {
    color: #909090;
}
#register-form *, #contact-form * {
    margin: 1rem 0.25rem;
}
option {
    color: #909090;
}

/* Stlying the modal popup on form completion */
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #receipt-modal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  #close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close:hover,
  #close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }